# Environment
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/build/
android/app/build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Local backend test scripts
backend/testSocket.js
backend/testpresence.js
